.custom_style {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &_key {
    width: 30%;
    margin-right: 10%;
  }
  &_value {
    width: 60%;
  }
}
.custom_style_add_btn {
  margin-top: 10px;
  width: 100%;
}
